<!-- <script src="https://cdn.rawgit.com/showdownjs/showdown/1.7.2/dist/showdown.min.js" charset="utf-8"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown//showdown.min.js" charset="utf-8"></script> -->
<!-- <script src="/js/lib/showdown.js" charset="utf-8"></script> -->
<script src="/js/lib/Markdown.Converter.js" charset="utf-8"></script>
<script src="/js/lib/Markdown.Editor.js" charset="utf-8"></script>
<script src="/js/lib/Markdown.Sanitizer.js" charset="utf-8"></script>

<style media="screen">
body
{
background-color: White;
  font-family: sans-serif;
}

blockquote {
border-left: 2px dotted #888;
padding-left: 5px;
background: #d0f0ff;
}

.wmd-panel
{
margin-left: 25%;
margin-right: 25%;
width: 50%;
min-width: 500px;
}

.wmd-button-bar
{
width: 100%;
background-color: Silver;
}

.wmd-input
{
height: 300px;
width: 100%;
background-color: Gainsboro;
border: 1px solid DarkGray;
}

.wmd-preview
{
background-color: #c0e0ff;
}

.wmd-button-row
{
position: relative;
margin-left: 5px;
margin-right: 5px;
margin-bottom: 5px;
margin-top: 10px;
padding: 0px;
height: 20px;
}

.wmd-spacer
{
width: 1px;
height: 20px;
margin-left: 14px;

position: absolute;
background-color: Silver;
display: inline-block;
list-style: none;
}

.wmd-button {
  width: 20px;
  height: 20px;
  padding-left: 2px;
  padding-right: 3px;
  position: absolute;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.wmd-button > span {
  background-image: url("../images/wmd-buttons.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.wmd-spacer1
{
  left: 50px;
}
.wmd-spacer2
{
  left: 175px;
}
.wmd-spacer3
{
  left: 300px;
}




.wmd-prompt-background
{
background-color: Black;
}

.wmd-prompt-dialog
{
border: 1px solid #999999;
background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
font-size: 0.8em;
font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
border: 1px solid #999999;
color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
border: 1px solid #888888;
font-family: trebuchet MS, helvetica, sans-serif;
font-size: 0.8em;
font-weight: bold;
}
</style>
<div class="wmd-panel">
            <div id="wmd-button-bar"></div>
            <textarea class="wmd-input" id="wmd-input">
This is the *first* editor.
------------------------------

Just plain **Markdown**, except that the input is sanitized:

<marquee>I'm the ghost from the past!</marquee>

and that it implements "fenced blockquotes" via a plugin:

"""
Do it like this:

1. Have idea.
2. ???
3. Profit!
"""
</textarea>
        </div>
        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>

        <br /> <br />

        <div class="wmd-panel">
            <div id="wmd-button-bar-second"></div>
            <textarea class="wmd-input" id="wmd-input-second">
This is the *second* editor.
------------------------------

It has a plugin hook registered that surrounds all words starting with the
letter A with asterisks before doing the Markdown conversion. Another one gives bare links
a nicer link text. User input isn't sanitized here:

<marquee>I'm the ghost from the past!</marquee>

http://google.com

http://stackoverflow.com

It also includes a help button.

Finally, note that when you press Ctrl-Q or click the "Blockquote" button (without having a
selection), this editor creates an example text that's different from the first editor.
</textarea>
        </div>
        <div id="wmd-preview-second" class="wmd-panel wmd-preview"></div>


        <script type="text/javascript">
            (function () {
                var converter1 = Markdown.getSanitizingConverter();

                converter1.hooks.chain("preBlockGamut", function (text, rbg) {
                    return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
                        return "<blockquote>" + rbg(inner) + "</blockquote>\n";
                    });
                });

                var editor1 = new Markdown.Editor(converter1);

                editor1.run();

                var converter2 = new Markdown.Converter();

                converter2.hooks.chain("preConversion", function (text) {
                    return text.replace(/\b(a\w*)/gi, "*$1*");
                });

                converter2.hooks.chain("plainLinkText", function (url) {
                    return "This is a link to " + url.replace(/^https?:\/\//, "");
                });

                var help = function () { alert("Do you need help?"); }
                var options = {
                    helpButton: { handler: help },
                    strings: { quoteexample: "whatever you're quoting, put it right here" }
                };
                var editor2 = new Markdown.Editor(converter2, "-second", options);

                editor2.run();
            })();
        </script>
